################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/asp.net-core/Blog.Core/Blog.Core/obj
/src/asp.net-core/Blog.Core/.vs/Blog.Core/v16
/src/asp.net-core/Blog.Core/Blog.Core/bin/Debug/net5.0
/src/asp.net-core/Blog.Core/Blog.Core.Model/bin/Debug/net5.0
/src/asp.net-core/Blog.Core/Blog.Core.Model/obj
